<!DOCTYPE html>,
<html>
<head>
<title>Python Web Scraper</title>
</head>
<body>

<h1 style="text-align: center; font-weight: 600;" > Python Web Scraper Application</h1>
<p id="explanation"a >Type in a target URL to scrape from;</p>
    
 

<form>
    <label for="targetUrl" > Target URL: </label>
    <br />
    <br />
    <input
      type="text"
      id="targetUrl"
      placeholder="Type in a URL"
      style="height: 40px; width: 20rem; border: 1px solid grey; border-radius: 5px;" 
    />
    <br />
    <button id="submit-btn" style="height: 45px; width: 10rem; border: 1px solid gray;"  > Scrape Data </button>
</form>
</body>
  
<script>
      const targetUrl = document.querySelector('#targetUrl')
      const btn = document.querySelector('#submit-btn')

      btn.addEventListener('click', (e) => {
      e.preventDefault()

        // TEMPLATE INTERPOLATION
        fetch(`http://localhost:5000/scrape?target_url=${targetUrl.value}`)
        .then((res) => res.json())
        .then((response) => {
            console.log(response)
        })
        .catch(e => console.log(e))
      })

</script>
</html>